
.App {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
